@charset "UTF-8";
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}

[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-prev:before {
  content: "←";
}

[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}

[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

.slick-next:before {
  content: "→";
}

[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

:root {
  --primary: #2a85a2;
  --yellow: #f4c11a;
  --white: #ffffff;
  --light-gray: #e2e2e2;
  --gray: #7a7a7a;
  --dark-1: #353a40;
  --dark-2: #212121;
  --dark-3: #181715;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  color: var(--dark-1);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

p {
  font-size: 16px;
  line-height: 1.8;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-field {
  max-width: 1920px;
  margin: 0 auto;
}

img,
svg {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.button {
  color: var(--white);
  background-color: var(--primary);
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid var(--primary);
  transition: 0.2s;
}

@media (hover: hover) {
  .button:hover {
    color: var(--primary);
    background-color: var(--white);
  }
}

.social ul {
  display: flex;
}

.social li {
  margin-left: 24px;
}

.social li:first-child {
  margin-left: 0;
}

.social a {
  width: 24px;
  height: 24px;
}

.email {
  display: flex;
  align-items: center;
}

.email img {
  margin-right: 5px;
}

@media (hover: hover) {
  .email:hover {
    text-decoration: underline;
  }
}

.change-language {
  position: relative;
}

.change-language button {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 24px;
}

.change-language ul {
  width: 100%;
  position: absolute;
  background-color: var(--dark-1);
  padding: 5px 0;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
}

.change-language li {
  padding: 5px 10px;
}

.change-language.--active ul {
  opacity: 1;
  pointer-events: inherit;
  z-index: 100;
}

.change-language.--active svg {
  transform: rotate(180deg);
}

/* ===== HEADER ===== */
.header-top {
  background-color: var(--dark-1);
  color: var(--white);
}

.header-top__inner {
  min-height: 60px;
}

.header-top__inner, .header-bottom__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__info .line {
  display: block;
  width: 1px;
  height: 34px;
  margin: 0 14px;
  background-color: var(--white);
}

/* ===== MENU ===== */
.menu ul {
  display: flex;
  align-items: center;
}

.menu a {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 25px;
  height: 100px;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.1s;
  border: 2px solid transparent;
}

@media (hover: hover) {
  .menu a:hover {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
  }
}

.menu button {
  padding: 8px 14px;
  border-radius: 20px;
  margin-left: 25px;
}

/* ===== FOOTER ===== */
.footer {
  margin-top: 50px;
  background-color: var(--dark-3);
  color: var(--white);
  padding-top: 50px;
  font-size: 14px;
}

.footer p {
  font-size: 14px;
}

@media (hover: hover) {
  .footer a:hover {
    text-decoration: underline;
  }
}

.footer-top__inner {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  max-width: 770px;
}

.footer__text {
  margin-bottom: 16px;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
}

.footer__links a {
  display: flex;
  align-items: center;
  position: relative;
  line-height: 24px;
  position: relative;
  margin-right: 30px;
}

.footer__links a span {
  padding-left: 5px;
}

.footer__links a:last-child {
  margin-right: 0;
}

.footer__links a::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-middle {
  padding: 50px 0;
}

.footer-middle__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
}

.footer__col:nth-child(1) {
  grid-column: span 2;
}

.footer__col:nth-child(2) {
  grid-column: span 4;
}

.footer__col:nth-child(3) {
  grid-column: span 3;
}

.footer__col:nth-child(4) {
  grid-column: span 3;
}

.footer__title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer__list li {
  position: relative;
  padding-left: 24px;
  margin-bottom: 14px;
}

.footer__list li::before {
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 12l-5-5v10l5-5z' fill='%23fff'/%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -4px;
  left: 0;
}

.footer__list a {
  display: block;
  text-transform: uppercase;
  line-height: 16px;
}

.footer__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
}

.footer__gallery a {
  position: relative;
  display: block;
  grid-column: span 1;
  border-radius: 10px;
  padding-bottom: 65%;
  overflow: hidden;
}

.footer__gallery img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer-bottom {
  background-color: var(--dark-2);
}

.footer-bottom__inner {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ====== INTRO ===== */
.intro__inner {
  position: relative;
}

.intro .arrows_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: calc(1200px + 120px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.intro__item {
  display: none;
  position: relative;
}

.intro__item:first-child {
  display: flex;
}

.intro__item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-gray);
  z-index: 1;
}

.intro__item content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white);
  text-align: center;
  max-width: 970px;
  min-height: 650px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.intro__item h1 {
  font-size: 64px;
  line-height: 75px;
}

.intro__item p {
  max-width: 770px;
  margin-top: 26px;
}

.intro__item .button {
  display: inline-block;
  margin-top: 35px;
  font-size: 18px;
  text-transform: none;
  font-weight: 400;
  padding: 8px 32px;
  border-radius: 20px;
}

.intro-slider__wrapper {
  position: relative;
  display: none;
  background-color: var(--dark-1);
  background-position: center;
  background-size: cover;
}

.intro-slider__wrapper:first-child {
  display: block;
}

.intro-slider__item {
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.intro-slider__text {
  margin-top: 26px;
}

.intro-slider__button {
  margin-top: 35px;
}
