@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

:root {
  --primary: #2a85a2;
  --yellow: #f4c11a;
  --white: #ffffff;
  --light-gray: #e2e2e2;
  --gray: #7a7a7a;
  --dark-1: #353a40;
  --dark-2: #212121;
  --dark-3: #181715;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  color: var(--dark-1);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

p {
  font-size: 16px;
  line-height: 1.8;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

img,
svg {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.button {
  color: var(--white);
  background-color: var(--primary);
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid var(--primary);
  transition: 0.2s;
}

@media (hover: hover) {
  .button:hover {
    color: var(--primary);
    background-color: var(--white);
  }
}

.social ul {
  display: flex;
}

.social li {
  margin-left: 24px;
}

.social li:first-child {
  margin-left: 0;
}

.social a {
  width: 24px;
  height: 24px;
}

.email {
  display: flex;
  align-items: center;
}

.email img {
  margin-right: 5px;
}

@media (hover: hover) {
  .email:hover {
    text-decoration: underline;
  }
}

.change-language {
  position: relative;
}

.change-language button {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 24px;
}

.change-language ul {
  width: 100%;
  position: absolute;
  background-color: var(--dark-1);
  padding: 5px 0;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
}

.change-language li {
  padding: 5px 10px;
}

.change-language.--active ul {
  opacity: 1;
  pointer-events: inherit;
  z-index: 100;
}

.change-language.--active svg {
  transform: rotate(180deg);
}

/* ===== HEADER ===== */
.header-top {
  background-color: var(--dark-1);
  color: var(--white);
}

.header-top__inner {
  min-height: 60px;
}

.header-top__inner, .header-bottom__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__info {
  display: flex;
  align-items: center;
}

.header__info .line {
  display: block;
  width: 1px;
  height: 34px;
  margin: 0 14px;
  background-color: var(--white);
}

/* ===== MENU ===== */
.menu ul {
  display: flex;
  align-items: center;
}

.menu a {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 25px;
  height: 100px;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.1s;
  border: 2px solid transparent;
}

@media (hover: hover) {
  .menu a:hover {
    color: var(--primary);
    border-bottom: 2px solid var(--primary);
  }
}

.menu button {
  padding: 8px 14px;
  border-radius: 20px;
  margin-left: 25px;
}

/* ===== FOOTER ===== */
.footer {
  margin-top: 50px;
  background-color: var(--dark-3);
  color: var(--white);
  padding-top: 50px;
  font-size: 14px;
}

.footer p {
  font-size: 14px;
}

@media (hover: hover) {
  .footer a:hover {
    text-decoration: underline;
  }
}

.footer-top__inner {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  max-width: 770px;
}

.footer__text {
  margin-bottom: 16px;
}

.footer__links {
  display: flex;
  flex-wrap: wrap;
}

.footer__links a {
  display: flex;
  align-items: center;
  position: relative;
  line-height: 24px;
  position: relative;
  margin-right: 30px;
}

.footer__links a span {
  padding-left: 5px;
}

.footer__links a:last-child {
  margin-right: 0;
}

.footer__links a::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-middle {
  padding: 50px 0;
}

.footer-middle__inner {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 30px;
}

.footer__col:nth-child(1) {
  grid-column: span 2;
}

.footer__col:nth-child(2) {
  grid-column: span 4;
}

.footer__col:nth-child(3) {
  grid-column: span 3;
}

.footer__col:nth-child(4) {
  grid-column: span 3;
}

.footer__title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer__list li {
  position: relative;
  padding-left: 24px;
  margin-bottom: 14px;
}

.footer__list li::before {
  content: "";
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 12l-5-5v10l5-5z' fill='%23fff'/%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  display: block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: -4px;
  left: 0;
}

.footer__list a {
  display: block;
  text-transform: uppercase;
  line-height: 16px;
}

.footer__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4px;
}

.footer__gallery a {
  position: relative;
  display: block;
  grid-column: span 1;
  border-radius: 10px;
  padding-bottom: 65%;
  overflow: hidden;
}

.footer__gallery img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer-bottom {
  background-color: var(--dark-2);
}

.footer-bottom__inner {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
