@import "_fonts";

:root {
  --primary: #2a85a2;
  --yellow: #f4c11a;
  --white: #ffffff;
  --light-gray: #e2e2e2;
  --gray: #7a7a7a;
  --dark-1: #353a40;
  --dark-2: #212121;
  --dark-3: #181715;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  color: var(--dark-1);
  background-color: var(--white);
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

p {
  font-size: 16px;
  line-height: 1.8;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

img,
svg {
  display: block;
}

.button {
  color: var(--white);
  background-color: var(--primary);
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid var(--primary);
  transition: 0.2s;
  @media (hover: hover) {
    &:hover {
      color: var(--primary);
      background-color: var(--white);
    }
  }
}

// Social
.social {
  ul {
    display: flex;
  }
  li {
    margin-left: 24px;
    &:first-child {
      margin-left: 0;
    }
  }
  a {
    width: 24px;
    height: 24px;
  }
}

// Email
.email {
  display: flex;
  align-items: center;
  img {
    margin-right: 5px;
  }
  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

// Change Language
.change-language {
  position: relative;
  button {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 24px;
  }
  ul {
    width: 100%;
    position: absolute;
    background-color: var(--dark-1);
    padding: 5px 0;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
  }
  li {
    padding: 5px 10px;
  }
  &.--active {
    ul {
      opacity: 1;
      pointer-events: inherit;
      z-index: 100;
    }
    svg {
      transform: rotate(180deg);
    }
  }
}

/* ===== HEADER ===== */
.header {
  &-top {
    background-color: var(--dark-1);
    color: var(--white);
  }
  &-top__inner {
    min-height: 60px;
  }
  &-top__inner,
  &-bottom__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__info {
    display: flex;
    align-items: center;
    .line {
      display: block;
      width: 1px;
      height: 34px;
      margin: 0 14px;
      background-color: var(--white);
    }
  }
}

/* ===== MENU ===== */
.menu {
  ul {
    display: flex;
    align-items: center;
  }
  a {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 25px;
    height: 100px;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.1s;
    border: 2px solid transparent;
    @media (hover: hover) {
      &:hover {
        color: var(--primary);
        border-bottom: 2px solid var(--primary);
      }
    }
  }
  button {
    padding: 8px 14px;
    border-radius: 20px;
    margin-left: 25px;
  }
}
