@import "_global";
@import "_fonts";
@import "_libs";

// Social
.social {
  ul {
    display: flex;
  }
  li {
    margin-left: 24px;
    &:first-child {
      margin-left: 0;
    }
  }
  a {
    width: 24px;
    height: 24px;
  }
}

// Email
.email {
  display: flex;
  align-items: center;
  img {
    margin-right: 5px;
  }
  @media (hover: hover) {
    &:hover {
      text-decoration: underline;
    }
  }
}

// Change Language
.change-language {
  position: relative;
  button {
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 24px;
  }
  ul {
    width: 100%;
    position: absolute;
    background-color: var(--dark-1);
    padding: 5px 0;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
  }
  li {
    padding: 5px 10px;
  }
  &.--active {
    ul {
      opacity: 1;
      pointer-events: inherit;
      z-index: 100;
    }
    svg {
      transform: rotate(180deg);
    }
  }
}

/* ===== HEADER ===== */
.header {
  &-top {
    background-color: var(--dark-1);
    color: var(--white);
  }
  &-top__inner {
    min-height: 60px;
  }
  &-top__inner,
  &-bottom__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__info {
    display: flex;
    align-items: center;
    .line {
      display: block;
      width: 1px;
      height: 34px;
      margin: 0 14px;
      background-color: var(--white);
    }
  }
}

/* ===== MENU ===== */
.menu {
  ul {
    display: flex;
    align-items: center;
  }
  a {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 25px;
    height: 100px;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.1s;
    border: 2px solid transparent;
    @media (hover: hover) {
      &:hover {
        color: var(--primary);
        border-bottom: 2px solid var(--primary);
      }
    }
  }
  button {
    padding: 8px 14px;
    border-radius: 20px;
    margin-left: 25px;
  }
}

/* ===== FOOTER ===== */
.footer {
  margin-top: 50px;
  background-color: var(--dark-3);
  color: var(--white);
  padding-top: 50px;
  font-size: 14px;
  p {
    font-size: 14px;
  }
  @media (hover: hover) {
    a:hover {
      text-decoration: underline;
    }
  }
  &-top__inner {
    display: flex;
    justify-content: space-between;
    // align-items: center;
  }
  &__info {
    max-width: 770px;
  }
  &__text {
    margin-bottom: 16px;
  }
  &__links {
    display: flex;
    flex-wrap: wrap;
    a {
      display: flex;
      align-items: center;
      position: relative;
      line-height: 24px;
      position: relative;
      margin-right: 30px;
      span {
        padding-left: 5px;
      }
      &:last-child {
        margin-right: 0;
      }
      &::before {
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        display: block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  &-middle {
    padding: 50px 0;
  }
  &-middle__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px;
  }
  &__col:nth-child(1) {
    grid-column: span 2;
  }
  &__col:nth-child(2) {
    grid-column: span 4;
  }
  &__col:nth-child(3) {
    grid-column: span 3;
  }
  &__col:nth-child(4) {
    grid-column: span 3;
  }
  &__title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 15px;
  }
  &__list {
    li {
      position: relative;
      padding-left: 24px;
      margin-bottom: 14px;
      &::before {
        content: "";
        background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.5 12l-5-5v10l5-5z' fill='%23fff'/%3E%3C/svg%3E");
        background-size: cover;
        background-position: center;
        display: block;
        width: 24px;
        height: 24px;
        position: absolute;
        top: -4px;
        left: 0;
      }
    }
    a {
      display: block;
      text-transform: uppercase;
      line-height: 16px;
    }
  }
  &__gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4px;
    a {
      position: relative;
      display: block;
      grid-column: span 1;
      // border: 1px solid red;
      border-radius: 10px;
      padding-bottom: 65%;
      overflow: hidden;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &-bottom {
    background-color: var(--dark-2);
  }
  &-bottom__inner {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/* ====== INTRO ===== */
.intro {
  &__inner {
    position: relative;
  }
  .arrows_box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: calc(1200px + 120px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  &__item {
    display: none;
    position: relative;
    height: 650px;
    &:first-child {
      display: flex;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: var(--light-gray);
      z-index: 1;
    }
    content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--white);
      text-align: center;
      max-width: 970px;
      min-height: 650px;
      margin: 0 auto;
      position: relative;
      z-index: 2;
    }
    h1 {
      font-size: 64px;
      line-height: 75px;
    }
    p {
      max-width: 770px;
      margin-top: 26px;
    }
    .button {
      display: inline-block;
      margin-top: 35px;
      font-size: 18px;
      text-transform: none;
      font-weight: 400;
      padding: 8px 32px;
      border-radius: 20px;
    }
  }
}

/* ====== SEARCH ===== */
.search {
  position: relative;
  z-index: 100;
  margin-top: -50px;
  &__form {
    margin: 0 -25px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 25px;
    border-radius: 60px;
    box-shadow: 0px 2px 8px rgba(#000, 0.25);
  }
  &__item {
    width: 270px;
    height: 55px;
    // border: 1px solid #000;
  }
  &__button {
    width: 100%;
    height: 55px;
    border-radius: 30px;
  }
}
.search__select {
  position: relative;
  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    pointer-events: none;
    z-index: 1;
    background-size: cover;
  }
  &::before {
    width: 25px;
    height: 25px;
    top: 15px;
    left: 10px;
  }
  &--place::before {
    background-image: url("../images/location.svg");
  }
  &--time::before {
    background-image: url("../images/calendar.svg");
  }
  &--people::before {
    background-image: url("../images/people.svg");
  }
  &::after {
    background-image: url("../images/select-arrow.svg");
    width: 37px;
    height: 37px;
    top: 9px;
    right: 13px;
  }
  &--active {
    &::after {
      transform: rotate(180deg);
    }
  }
  select {
    text-align: left;
    width: 100%;
    height: 55px;
    font-size: 16px;
    background-color: var(--light-gray);
    border: none;
    border-radius: 30px;
    padding: 18px 40px;
    -webkit-appearance: none;
  }
}
.search__select--custom {
  &__option {
    width: 100%;
    display: block;
    padding: 15px;
    background-color: var(--white);
    border-bottom: 1px solid var(--light-gray);
    &:last-child {
      border-bottom: none;
    }
  }
  &__dropdown {
    border-radius: 30px;
    overflow: hidden;
    background-color: var(--white);
    border: 1px solid var(--light-gray);
  }
  &__option--value {
    text-align: left;
    width: 100%;
    height: 55px;
    background-color: var(--light-gray);
    border: none;
    border-radius: 30px;
    padding: 18px 40px;
    -webkit-appearance: none;
    z-index: 100;
  }
  &__option--selected {
    background-color: var(--primary);
    color: var(--white);
  }
}

/* ====== TOP PACKAGES ===== */
.top-packages {
  &__content {
    grid-template-columns: repeat(3, 1fr);
  }
  .item__img-box {
    padding-bottom: 65%;
  }
  .item__param {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: -1px;
      display: block;
      width: 24px;
      height: 24px;
      background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='24' height='24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 4a8 8 0 100 16 8 8 0 000-16zm-9 8c0-5 4-9 9-9s9 4 9 9-4 9-9 9-9-4-9-9z' fill='%237A7A7A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.568 7.225c.553 0 .5.448.5 1v4h5c.553 0 1-.052 1 .5s-.447.5-1 .5h-5a1 1 0 01-1-1v-4c0-.552-.052-1 .5-1z' fill='%237A7A7A'/%3E%3C/svg%3E");
      background-size: cover;
    }
  }
}

/* ====== TOP DESTINATIONS  ===== */
.top-destinations {
  &__content {
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 220px;
  }
  &__item {
    display: block;
    grid-column: span 3;
    position: relative;
    .item__img-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      padding: 0;
    }
    .item__img-box::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      background: linear-gradient(72.37deg, rgba(0, 0, 0, 0.3) 7.72%, rgba(0, 0, 0, 0) 100%);
    }
    .item__info {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      color: var(--white);
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .item__count {
      width: -moz-fit-content;
      width: fit-content;
      padding: 0px 12px;
      line-height: 20px;
      border-radius: 10px;
      background-color: var(--white);
      color: var(--primary);
      font-weight: 500;
      font-size: 14px;
      margin-bottom: auto;
    }
    .item__title {
      font-weight: 500;
    }
    .item__text {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
    }
  }
  &__item:nth-child(2) {
    grid-column: span 4;
    grid-row: span 2;
    .item__info {
      padding: 30px;
    }
    .item__count {
      font-size: 18px;
      line-height: 30px;
      padding: 0 20px;
      border-radius: 15px;
    }
    .item__title {
      font-size: 26px;
    }
    .item__text {
      font-size: 14px;
    }
  }
  &__item:nth-child(3) {
    grid-column: span 5;
  }
  &__item:nth-child(5) {
    grid-column: span 2;
  }
}

/* ====== BANNER  ===== */
.banner {
  &__bg {
    background-color: var(--light-gray);
    max-width: 1920px;
    margin: 0 auto;
    background-size: cover;
    background-position: center right;
    padding: 40px 60px;
    min-height: 500px;
    display: flex;
    align-items: center;
  }
  &__title,
  &__text,
  &__button {
    margin-left: 0;
    color: var(--white);
  }
  &__title {
    font-size: 48px;
    text-transform: none;
  }
  &__text {
    margin-top: 10px;
  }
  &__button {
    margin-top: 18px;
  }
}

/* ====== TOP BLOG  ===== */
.top-blog {
  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__item {
    display: flex;
    align-items: stretch;
    .item__img-box {
      width: 270px;
    }
    .item__info {
      flex: 1;
      padding: 30px 30px 20px;
      // min-height: 270px;
      height: 270px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .item__param-box {
      margin: 7px 0;
    }
    .item__param {
      font-size: 14px;
      padding-left: 20px;
      position: relative;
      &::before {
        content: "";
        width: 16px;
        height: 16px;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        background-size: cover;
      }
      &--author::before {
        background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4.083 4.667a2.917 2.917 0 115.834 0 2.917 2.917 0 01-5.834 0zM7 6.417a1.75 1.75 0 100-3.5 1.75 1.75 0 000 3.5zM3.7 9.534a4.667 4.667 0 00-1.367 3.3H3.5a3.5 3.5 0 117 0h1.167a4.667 4.667 0 00-7.967-3.3z' fill='%237A7A7A'/%3E%3C/svg%3E");
      }
      &--views::before {
        background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.87 10.348c-.9.366-1.88.55-2.87.54a7.394 7.394 0 01-2.953-.575 6.26 6.26 0 01-1.892-1.267A5.783 5.783 0 01.84 7.174L.778 7l.065-.176C1.293 5.8 2.05 4.906 3.031 4.241l3.347 3.036 3.493 3.07zm-5.972-5.32A4.891 4.891 0 002.095 7C2.938 8.736 4.882 9.837 7 9.777A6.33 6.33 0 008.906 9.5l-1.13-.993c-.249.11-.498.16-.776.16C5.972 8.661 5.14 7.918 5.133 7c0-.249.056-.468.178-.69L3.898 5.026zm5.973 5.32l-.965-.849c1.827-.833 2.777-2.05 2.999-2.5C11.063 5.264 9.118 4.163 7 4.223c-.154 0-1.569 0-3.102.805l-.867-.786C3.889 3.684 5.21 3.13 7 3.11a7.396 7.396 0 012.953.575 6.259 6.259 0 011.892 1.268 5.783 5.783 0 011.315 1.87l.062.176-.065.175c-.291.677-.557 1.214-1.49 2.047l-1.245.833-.551.293z' fill='%237A7A7A'/%3E%3Cpath d='M9.333 7a2.333 2.333 0 11-4.666 0 2.333 2.333 0 014.666 0z' fill='%237A7A7A'/%3E%3C/svg%3E");
      }
      &--comments::before {
        background-image: url("data:image/svg+xml;charset=utf8, %3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.167 2.333V10.5l2.8-2.1a1.16 1.16 0 01.7-.233h4.666c.645 0 1.167-.523 1.167-1.167V2.333c0-.644-.522-1.166-1.167-1.166h-7c-.644 0-1.166.522-1.166 1.166zm1.166 5.834V2.333h7V7H4.278c-.252 0-.498.081-.7.233l-1.245.934z' fill='%237A7A7A'/%3E%3Cpath d='M12.833 12.833V5.25c0-.644-.522-1.167-1.166-1.167V10.5l-1.245-.933a1.157 1.157 0 00-.7-.234H4.083c0 .645.523 1.167 1.167 1.167h4.083c.253 0 .499.081.7.233l2.8 2.1z' fill='%237A7A7A'/%3E%3C/svg%3E");
      }
    }
    .item__param::before {
      // width: 16px;
      // height: 16px;
      background-size: 16px 16px;
      background-repeat: no-repeat;
      background-position: center left;
    }
    .item__text {
      flex: 1;
      font-size: 14px;
      overflow: hidden;
    }
    .item__read {
      width: -moz-fit-content;
      width: fit-content;
      margin-top: 15px;
      color: var(--primary);
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;
      position: relative;
      padding-right: 24px;
      &::after {
        display: block;
        width: 24px;
        height: 24px;
        background-size: cover;
        position: absolute;
        top: -2px;
        right: 0;
      }
    }
  }
}

/* ====== GALLERY  ===== */
.gallery {
  &__content {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 370px 520px;
  }
  &__item {
    padding: 0;
    overflow: hidden;
    .item__img-box {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  &__item:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
  }
  &__item:nth-child(2) {
    grid-row: span 1;
  }
}

/* ====== BREADCRUMBS  ===== */
.breadcrumbs {
  background-color: rgba(#000, 0.4);
  color: var(--white);
  position: relative;
  z-index: 1;
  &__list {
    display: flex;
    align-items: center;
    height: 50px;
    white-space: nowrap;
    overflow-x: auto;
  }
  &__item {
    &::after {
      content: "/";
      margin-right: 4px;
    }
    &:last-child::after {
      display: none;
    }
  }
}

/* ====== INTRO BANNER  ===== */
.intro-banner {
  &__bg {
    max-width: 1920px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-color: var(--gray);
  }
  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
  }
  &__title {
    text-align: center;
    max-width: 770px;
    font-size: 64px;
    margin: 0 auto;
    color: var(--white);
    text-transform: uppercase;
  }
}
.breadcrumbs + .intro-banner {
  margin-top: -50px;
}